[Unit]
Description=Bsvalias / Paymail server
After=network.target

[Service]
User=www-data
ExecStart=/var/lib/paymail/paymail-server --config=/etc/paymail/config.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
